<ion-view view-title="Buscar">
    <ion-content class="centralizado" ng-controller="buscandoCtrl">
        <center><img width="70%" src="images/logo_maa1.png" /></center>
        <div class="padding"></div>
        <form class="padding" ng-submit="busco()">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="texto" type="search" placeholder="Buscar" />
            </label>

            <input type="submit" value="Buscar" class="button button-block button-balanced" />
            <div class="padding"><div class="padding"><div class="padding"><div class="padding"></div></div></div></div>
        </form>
</ion-content>
</ion-view>