<ion-view view-title="Ministerios Aquiles Azar">
    <ion-content style="background-color: #2A4922;" ng-controller="MyController">
        <div class="row" style="padding: 0px;">
            <div style="padding: 0px;" class="col col-50">
                <a href="#/online" ng-click='sayHello("templates/online/tab.html", true)' style="letter-spacing: 0.06em; color: #F2f2f2; min-height: 110px; border-color: #528C44; background-color: #427336; border-width: 3px; margin-top: 0px; margin-bottom: 0px;" class="button button-block button-positive">
                    <i class="icon ion-videocamera larger"></i><br>
                    Online
                </a>
            </div>
            <div style="padding: 0px;" class="col col-50">
                <a href="#/historia" ng-click='sayHello("templates/nosotros/tab.html", false)' style="letter-spacing: 0.06em; color: #F2f2f2; min-height: 110px; border-color: #528C44; background-color: #427336; border-width: 3px; margin-top: 0px; margin-bottom: 0px;" class="button button-block button-positive">
                    <i class="icon ion-information-circled larger"></i><br>
                    Nosotros
                </a>
            </div>
        </div>
        <div class="row" style="padding: 0px;">
            <div style="padding: 0px;" class="col col-50">
                <a ng-click='sayHello("templates/cdfe/tab.html")' style="letter-spacing: 0.06em; color: #F2f2f2; min-height: 110px; border-color: #528C44; background-color: #427336; border-width: 3px; margin-top: 0px; margin-bottom: 0px;" class="button button-block button-positive" href="#/cdfe">
                    <i class="icon ion-location larger"></i><br>
                    Iglesia
                </a>
            </div>
            <div style="padding: 0px;" class="col col-50">
                <a ng-click='sayHello("templates/ensenanzas/tab.html")' style="letter-spacing: 0.06em; color: #F2f2f2; min-height: 110px; border-color: #528C44; background-color: #427336; border-width: 3px; margin-top: 0px; margin-bottom: 0px;" class="button button-block button-positive" href="#/ensenanzas">
                    <i class="icon ion-chatbubble-working larger"></i><br>
                    Enseñanzas
                </a>
            </div>
        </div>


        <div class="row" style="padding: 0px;">
            <div style="padding: 0px;" class="col col-50">
                <a ng-click='sayHello("templates/tv/tab.html")' style="letter-spacing: 0.06em; color: #F2f2f2; min-height: 110px; border-color: #528C44; background-color: #427336; border-width: 3px; margin-top: 0px; margin-bottom: 0px;" class="button button-block button-positive" href="#/estiempo">
                    <i class="icon ion-monitor larger"></i><br>
                    Television
                </a>
            </div>
            <div style="padding: 0px;" class="col col-50">
                <a ng-click='sayHello("templates/contacto/tab.html", true)' style="letter-spacing: 0.06em; color: #F2f2f2; min-height: 110px; border-color: #528C44; background-color: #427336; border-width: 3px; margin-top: 0px; margin-bottom: 0px;" class="button button-block button-positive" href="#/contacto">
                    <i class="icon ion-iphone larger"></i><br>
                    Contacto
                </a>
            </div>
        </div>

        <div class="row" style="padding: 0px;">

            <div style="padding: 0px;" class="col col-100">
                <a ng-click='sayHello("templates/ofrendar/tab.html", false)' style="letter-spacing: 0.06em; color: #F2f2f2; min-height: 110px; border-color: #528C44; background-color: #589848; border-width: 3px; margin-top: 0px; margin-bottom: 0px;" class="button button-block button-positive" href="#/tarjeta">
                    <i class="icon ion-leaf larger"></i><br>
                    Ofrendar
                </a>
            </div>
        </div>

        <div class="row" style="padding: 0px;">

            <div style="padding: 0px;" class="col col-50">
                <a style="letter-spacing: 0.06em; color: #F2f2f2; min-height: 215px; border-color: #528C44; background-color: #427336; border-width: 3px; margin-top: 0px; margin-bottom: 0px;" class="button button-block button-positive" onclick="window.open('http://www.aquilesazar.org/', '_system', 'location=yes');">
                    <i class="icon ion-earth larger2"></i><br>
                    Website
                </a>
            </div>

            <div style="padding: 0px;" class="col col-50">

                <div class="row" style="padding: 0px;">
                    <div style="padding: 0px;" class="col col-100">
                        <a style="letter-spacing: 0.06em; color: #F2f2f2; min-height: 110px; border-color: #528C44; background-color: #17a2db; border-width: 3px; margin-top: 0px; margin-bottom: 0px;" class="button button-block button-positive" onclick="window.open('http://www.twitter.com/aquilesazar', '_system', 'location=yes');">
                            <i class="icon ion-social-twitter larger"></i><br>
                            Twitter
                        </a>
                    </div>

                </div>

                <div class="row" style="padding: 0px;">

                    <div style="padding: 0px;" class="col col-100">
                        <a style="letter-spacing: 0.06em; color: #F2f2f2; min-height: 110px; border-color: #528C44; background-color: #3D5A99; border-width: 3px; margin-top: 0px; margin-bottom: 0px;" class="button button-block button-positive" onclick="window.open('https://www.facebook.com/ministeriosaquilesazar', '_system', 'location=yes');">
                            <i class="icon ion-social-Facebook larger"></i><br>
                            Facebook
                        </a>
                    </div>

                </div>
            </div>



        </div>

        <div class="row" style="padding: 0px;">
            <div style="padding: 0px;" class="col col-50">
                <a style="letter-spacing: 0.06em; color: #F2f2f2; min-height: 110px; border-color: #528C44; background-color: #de2825; border-width: 3px; margin-top: 0px; margin-bottom: 0px;" class="button button-block button-positive" onclick="window.open('https://www.youtube.com/aquilesazar', '_system', 'location=yes');">
                    <i class="icon ion-social-Youtube larger"></i><br>
                    Youtube
                </a>
            </div>
            <div style="padding: 0px;" class="col col-50">
                <a style="letter-spacing: 0.06em; color: #F2f2f2; min-height: 110px; border-color: #528C44; background-color: #6B5144; border-width: 3px; margin-top: 0px; margin-bottom: 0px;" class="button button-block button-positive" onclick="window.open('https://www.instagram.com/aquilesazar', '_system', 'location=yes');">
                    <i class="icon ion-social-Instagram larger"></i><br>
                    Instagram
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>