<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="com.aquilesazar.app" android-versionCode="2" version="2.5.67.0" xmlns="http://www.w3.org/ns/widgets">

  <name>Ministerios Aquiles Azar</name>
  <description>Aplicación de los Ministerios Aquiles Azar con recursos que bendecirán tu vida al alcance de tu mano.</description>
  <author href="http://www.aquilesazar.org/" email="tecnologia@aquilesazar.org">Ministerios Aquiles Azar</author>
  <content src="index.html" />
  <access origin="*://*" />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="8.0" />
  <preference name="windows-phone-target-version" value="8.1" />
  <preference name="permissions" value="none" />
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/notification"/>
  <preference name='phonegap-version' value='cli-5.1.1' />
  <vs:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
  <vs:platformSpecificValues>
    <vs:platformSpecificWidget platformName="windows" id="maapp" version="2.5.67.0">
      <vs:name>Ministerios Aquiles Azar</vs:name>
    </vs:platformSpecificWidget>
  </vs:platformSpecificValues>
  <icon src="res/icon.png" />

  <splash src="splash.png" />

  <platform name="android">
    <!-- you can use any density that exists in the Android project -->

    <icon qualifier="ldpi" src=" res/icons/android/icon-36-ldpi.png" />
    <icon qualifier="mdpi" src=" res/icons/android/icon-48-mdpi.png" />
    <icon qualifier="hdpi" src=" res/icons/android/icon-72-hdpi.png" />
    <icon qualifier="xhdpi" src=" res/icons/android/icon-96-xhdpi.png" />
    
    
    <splash src="res/screen/android/screen-hdpi-landscape.png" density="land-hdpi"/>
    <splash src="res/screen/android/screen-ldpi-landscape.png" density="land-ldpi"/>
    <splash src="res/screen/android/screen-mdpi-landscape.png" density="land-mdpi"/>
    <splash src="res/screen/android/screen-xhdpi-landscape.png" density="land-xhdpi"/>

    <splash src="res/screen/android/screen-hdpi-portrait.png" density="port-hdpi"/>
    <splash src="res/screen/android/screen-ldpi-portrait.png" density="port-ldpi"/>
    <splash src="res/screen/android/screen-mdpi-portrait.png" density="port-mdpi"/>
    <splash src="res/screen/android/screen-xhdpi-portrait.png" density="port-xhdpi"/>
  </platform>

  <platform name="ios">
    <!-- images are determined by width and height. The following are supported -->
    <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
    <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
  </platform>

  <platform name="wp8">
    <!-- images are determined by width and height. The following are supported -->
    <splash src="res/screen/wp8/SplashScreenImage.jpg" width="768" height="1280"/>
  </platform>

  <platform name="windows8">
    <!-- images are determined by width and height. The following are supported -->
    <splash src="res/screen/windows8/splashscreen.png" width="620" height="300"/>
  </platform>
  
</widget>