<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Side Menus</title>
    <script src="cordova.js"></script>
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/ionic.css" rel="stylesheet" />
    <script src="scripts/ionic.bundle.js"></script>  
    <script src="scripts/app/app.js"></script>

</head>

<body>
    
    <ion-side-menus enable-menu-with-back-views="true">

        <ion-side-menu-content edge-drag-threshold="false"
                               drag-content="false">
            <ion-nav-bar class="bar-balanced">

                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                </ion-nav-buttons>
            </ion-nav-bar>

            <ion-nav-view animation="slide-left-right" name="menuContent"></ion-nav-view>

            <ion-footer-bar ng-hide="$root.ocultarpie" class="bar-balanced">
                <div ng-include="$root.milink" class="tabs-background-balanced tabs-color-light"></div>
                <div id="unazar" ng-controller="miAzar"></div>
            </ion-footer-bar>
        </ion-side-menu-content>

        <ion-side-menu class="dark-bg" side="left" width="210" expose-aside-when="large">

            <ion-header-bar class="bar-darki bar-dark">
                <h1 class="title">Menu</h1>
            </ion-header-bar>
            <ion-content class="fondo">
                <div ng-controller="MyController">
                    <ul class="list">
                        <a href="#/ensenanzas" ng-click='sayHello("templates/tab.html", true)' class="item item-icon-left" menu-close><i class="icon ion-home"></i>Inicio</a>
                        <a href="#/online" ng-click='sayHello("templates/online/tab.html", true)' class="item item-icon-left" menu-close><i class="icon ion-videocamera"></i>Online</a>
                        <a href="#/historia" ng-click='sayHello("templates/nosotros/tab.html", false)' class="item item-icon-left" menu-close><i class="icon ion-information-circled"></i>Nosotros</a>
                        <!--<a href="#/eventos" class="item item-icon-left" menu-close><i class="icon ion-earth"></i>Eventos</a>-->
                        <a href="#/cdfe" ng-click='sayHello("templates/cdfe/tab.html")' class="item item-icon-left" menu-close><i class="icon ion-location"></i>Iglesia</a>
                        <!--<a href="#/ensenanzas" ng-click='sayHello("templates/ensenanzas/tab.html")' class="item item-icon-left" menu-close><i class="icon ion-chatbubble-working"></i>Enseñanzas</a>-->
                        <!--<a href="#/frasesdefe" ng-click='sayHello("templates/frasesdefe/tab.html")' class="item item-icon-left" menu-close><i class="icon ion-quote"></i>Frases de fe</a>-->
                        <!--<a href="#/productos" class="item item-icon-left" menu-close><i class="icon ion-bag"></i>Productos</a>
                        <a href="#/redes" class="item item-icon-left" menu-close><i class="icon ion-share"></i>Redes sociales</a>
                        <a href="#/galeria" class="item item-icon-left" menu-close><i class="icon ion-images"></i>Galería de fotos</a>-->
                        <a href="#/estiempo" ng-click='sayHello("templates/tv/tab.html")' class="item item-icon-left" menu-close><i class="icon ion-monitor"></i>Televisión</a>
                        <!--<a href="#/cursos" class="item item-icon-left" menu-close><i class="icon ion-university"></i>Cursos</a>
                        <a href="#/oracion" class="item item-icon-left" menu-close><i class="icon ion-heart"></i>Pedir oración</a>-->
                        <a href="#/tarjeta" ng-click='sayHello("templates/ofrendar/tab.html", false)' class="item item-icon-left" menu-close><i class="icon ion-leaf"></i>Ofrendar</a>
                        <a href="#/contacto" ng-click='sayHello("templates/contacto/tab.html", true)' class="item item-icon-left" menu-close><i class="icon ion-iphone"></i>Contacto</a>
                    </ul>
                </div>
</ion-content>

        </ion-side-menu>

    </ion-side-menus>

</body>
</html>