<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.UI-Router" version="0.2.13" targetFramework="MDD80" />
  <package id="angularjs" version="1.4.0-beta5" targetFramework="MDD80" />
  <package id="cordova.TypeScript.DefinitelyTyped" version="2.3.3" targetFramework="MDD80" />
  <package id="ionic" version="1.0.14" targetFramework="MDD80" />
</packages>