<ion-view view-title="Ofrenda electrónica">
    <ion-content class="padding">
        <div class="card">

            <img width="100%" src="images/banner_donaciones.jpg" />
            <div class="padding"></div>
            <blockquote>“… Cada uno dé como propuso en su corazón: no con tristeza, ni por necesidad, porque Dios ama al dador alegre…” — 2 Corintios 9:6</blockquote>
            <div class="item item-divider">
                Tarjeta de credito o debito (Paypal)
            </div>
            <div class="item item-text-wrap">
                Para ofrendar con tu tarjeta de credito o debito via paypal, puedes hacerlo de forma rapida, sencilla y segura tocando el siguiente boton.
                
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank"><input name="cmd" type="hidden" value="_donations" /><input name="business" type="hidden" value="paypal@aquilesazar.org" /><input name="lc" type="hidden" value="US" /><input name="item_name" type="hidden" value="Ofrenda - Ministerios Aquiles Azar" /><input name="item_number" type="hidden" value="Donate" /><input name="no_note" type="hidden" value="0" /><input name="currency_code" type="hidden" value="USD" /><input name="return" type="hidden" value="http://www.aquilesazar.org/donacion" /><input name="cancel_return" type="hidden" value="http://www.aquilesazar.org/donacion" /><input name="bn" type="hidden" value="PP-DonationsBF:donateBtnPaypal.png:NonHostedGuest" /><button name="submit" href="" class="button button-block icon-left ion-chevron-right">Ofrendar</button><img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" /></form>
                
            </div>
        </div>
    </ion-content>
</ion-view>