<ion-view view-title="Depósito bancario">
    <ion-content class="padding">
        <div class="card">
            <img width="100%" src="images/27cosecha.jpg" />
            <div class="item item-text-wrap">
                <h2>Transferencia en US$ dolares a MAA en RD.:</h2>
                <b>Banco Intermediario</b><br />
                Bank of America<br />
                Miami FL<br />
                ABA: 026009593<br />
                Swif o Ruta: BOFAUS3M<br /><br />
                <b>Banco Beneficiario</b><br />
                Banco BHD<br />
                Codigo: BCBHDOSDXXX<br />
                Cuenta: 1901533475<br />
                Dirección: Av. 27 de febrero, Esq. Wingsthon Churchil, Sto. Dgo., Rep. Dom.<br />
                Telefono: 809.243.5000<br /><br />
                <b>Para Acreditar o Beneficiario Final</b><br />
                Congregación de Fe Cristiana<br />
                Cuenta: 0125-0196926-004-9<br />
                Dirección: Charles Sumner #56, Los Prados, Sto. Dgo., Rep. Dom.<br /><br />
                <h2>Transferencia desde USA a  MAA en USA:</h2>
                <b>Bank of America</b><br />
                Cuenta: Ministerios Aquiles Azar<br />
                Cuenta: 3050-0354-6279<br /><br />
                <h2>Transferencias a MAA desde Rep. Dom.:</h2>
                <b>Banco BHD</b><br />
                Cuenta N°: 0196926-003-1<br />
            </div>


        </div>
    </ion-content>
</ion-view>