<ion-view view-title="Contacto">
    <ion-content class="padding">
        <div class="padding"></div>
        <img width="100%" src="images/1888614_734911039875882_10272260_n.png" />
        <div class="padding"></div>
        <div class="list">
            

            <!--<a class="item item-icon-left" onclick="window.open('mailto:tecnologia@aquilesazar.org', '_system', 'location=yes');">
                <i class="icon ion-email"></i>
                Enviar email
            </a>-->

            <a class="item item-icon-left" onclick="window.open('tel:+18095412058', '_system', 'location=yes');">
                <i class="icon ion-ios7-telephone"></i>
                Llamar
            </a>

            <a class="item item-icon-left" onclick="window.open('https://www.facebook.com/CDFERD', '_system', 'location=yes');">
                <i class="icon ion-social-facebook"></i>
                Facebook
            </a>

            <a class="item item-icon-left" onclick="window.open('https://twitter.com/CentroDeFeMAA', '_system', 'location=yes');">
                <i class="icon ion-social-twitter"></i>
                Twitter
            </a>

        </div>
    </ion-content>
</ion-view>